
html
  head
    title The human body
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')
    style.
      body {
        font-family: 'Apercu Pro','Helvetica';
        text-align: center;
      }
      
      svg {
        width: 20vw;
        margin: 0 auto;
      }

  body
    h1 
      span.fa.fa-blind.fa-2x 
      |  CSS INHERITANCE
    
    br
    br
    br
    br
    br
    br
    br
    br
    br
    
    
    
    
    
    
    
    
    
    
    
    
    h2 
      span.fa.fa-heart.fa-2x 
      br
      |  The human body

    br
    svg(xmlns='http://www.w3.org/2000/svg', width='197.97', height='685.78', viewbox='0 0 197.97 685.78')
      style.
        .koerper { fill:#bada55; }
        .oberkoerper {  }
        .rumpf {  } 
        .beine {  } 
        .bein-links {  } 
        .bein-rechts {  } 
        .arme {  } 
        .arm-links {  } 
        .arm-rechts {  } 
        .kopf {  }

      path.koerper.beine.bein-links(d='M101.46 440.86v244.92h23.04c13.47 0 24.49-11.02 24.49-24.49V440.86h-47.53z')
      path.koerper.beine.bein-rechts(d='M101.46 440.86v244.92H75.64c-13.47 0-24.49-11.02-24.49-24.49l-.05-220.43h50.36z')
      path.oberkoerper.koerper.rumpf(d='M148.98 146.95H51.02c-26.94 0-48.98 22.04-48.98 48.98v195.94c0 26.94 22.12 48.98 49.06 48.98h97.89c26.94 0 48.98-22.04 48.98-48.98V195.94c0-26.94-22.05-48.99-48.99-48.99z')
      path.oberkoerper.koerper.arme.arm-links(d='M148.98 146.95v293.9c26.94 0 48.98-22.04 48.98-48.98V195.94c.01-26.94-22.04-48.99-48.98-48.99z')
      path.oberkoerper.koerper.arme.arm-rechts(d='M2.03 195.94v195.94c0 26.94 22.12 48.98 49.06 48.98l-.08-293.9C24.08 146.95 2.03 169 2.03 195.94z')
      circle.oberkoerper.koerper.kopf(cx='97.97', cy='48.98', r='48.98')














    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br














    h2 
      span.fa.fa-code-fork.fa-2x 
      |  Other bodies
    
    
    
    
    

    svg(xmlns='http://www.w3.org/2000/svg' width='195.94px', height='565.78px', viewbox='0 0 195.94 565.78')
      style.
        .koerper-klein.kopf { // fill: red; }
        
        
        
        
        
      path.koerper.koerper-klein.beine.bein-links(d='M99.43,370.86v194.92h23.04c13.47,0,24.49-11.02,24.49-24.49V370.86\C146.96,370.86,99.43,370.86,99.43,370.86z')
      path.koerper.koerper-klein.beine.bein-rechts(d='M99.43,370.86v194.92H73.61c-13.47,0-24.49-11.02-24.49-24.49l-0.05-170.43\C49.07,370.86,99.43,370.86,99.43,370.86z')
      path.koerper.koerper-klein.oberkoerper.rumpf(d='M146.95,126.95H48.99c-26.94,0-48.98,22.04-48.98,48.98v145.94c0,26.94,22.12,48.98,49.06,48.98\h97.89c26.94,0,48.98-22.04,48.98-48.98V175.94C195.94,149,173.89,126.95,146.95,126.95z')
      path.koerper.koerper-klein.oberkoerper.arm-links(d='M146.95,126.95v243.9c26.94,0,48.98-22.04,48.98-48.98V175.94\C195.94,149,173.89,126.95,146.95,126.95z')
      path.koerper.koerper-klein.oberkoerper.arm-rechts(d='M0,175.94v145.94c0,26.94,22.12,48.98,49.06,48.98l-0.08-243.9C22.05,126.95,0,149,0,175.94\z')
      circle.koerper.koerper-klein.oberkoerper.kopf(cx='95.94', cy='48.98', r='48.98')



















    svg(xmlns='http://www.w3.org/2000/svg', width='197.97', height='685.78', viewbox='0 0 197.97 685.78')

      path.koerper.beine.bein-links(d='M101.46 440.86v244.92h23.04c13.47 0 24.49-11.02 24.49-24.49V440.86h-47.53z')
      path.koerper.beine.bein-rechts(d='M101.46 440.86v244.92H75.64c-13.47 0-24.49-11.02-24.49-24.49l-.05-220.43h50.36z')
      path.koerper.oberkoerper.rumpf(d='M148.98 146.95H51.02c-26.94 0-48.98 22.04-48.98 48.98v195.94c0 26.94 22.12 48.98 49.06 48.98h97.89c26.94 0 48.98-22.04 48.98-48.98V195.94c0-26.94-22.05-48.99-48.99-48.99z')
      path.koerper.oberkoerper.arme.arm-links(d='M148.98 146.95v293.9c26.94 0 48.98-22.04 48.98-48.98V195.94c.01-26.94-22.04-48.99-48.98-48.99z')
      path.koerper.oberkoerper.arme.arm-rechts(d='M2.03 195.94v195.94c0 26.94 22.12 48.98 49.06 48.98l-.08-293.9C24.08 146.95 2.03 169 2.03 195.94z')
      circle.koerper.oberkoerper.kopf(cx='97.97', cy='48.98', r='48.98')


















    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

    blockquote 
      h2 Don’t repeat yourself 
      h3 (DRY, englisch für wiederhole dich nicht; auch bekannt als once and only once ‚Einmal und nur einmal‘)

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

    blockquote 
      h2 Read the spec!
      h3 Wundere Dich nicht, wenn Du garnicht weisst was Du da machst: lies die Spezifikation, dann lernst Du erst wirklich!
