
html
  head
    title CSS Selectors
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')
    style.
      body {
        font-family: 'Apercu Pro','Helvetica';
        text-align: center;
      }
      
      .demo-element,
      .root,
      .metadata,
      .sections,
      .grouping,
      .semantics,
      .embedded,
      .tabular,
      .forms { 
        margin-bottom: 10em;
      }
      h2 {
        margin-top: 20em;
      }
      h2.demo-element {
        margin-top: 0;
      }
      .demo-element input {
        display: block;
        margin-bottom: 2em;
      }

  body
    h1 
      span.fa.fa-sort-alpha-asc.fa-2x 
      br
      |  CSS SELECTORS

    object(data='css-selektoren.pdf#page=1', type='application/pdf', width='100%', height='90%')


    

    h2
      a(href='http://keithclark.co.uk/articles/pure-css-parallax-websites/demo3-webkit-overflow-fix/')
      
    h2
      a(href='http://flukeout.github.io/') CSS Diner
      
    h2
      a(href='http://keithclark.co.uk/labs/css-fps/desktop/') 3D im Browser
