
html
    head
        title CSS-School #03 Website
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')
        style.
            body {
                font-family: 'Apercu Pro','Helvetica';
            }

            svg {
                width: 20vw;
                margin: 0 auto;
            }

            li {
                font-size: 1.8em;
                margin-bottom: .4em;
            }

            li li {
                font-size: .9em;
            }

            li li {
                font-size: .7em;
            }


    body
        h1 
            span.fa.fa-hand-o-right.fa-2x
            |  CSS-School #03 Website

        ol
            li Was war letzte Woche?
            li Vortrag
            li CSS Selektoren-Spiel: der menschliche Körper
            li Der menschliche Körper mit CSS
            li Website
                ul
                    li Harp.js
                        br
                        a(href="https://nodejs.org/en/") Install node
                        pre sudo npm install -g harp
                        pre sudo npm install -g browser-sync
                        pre harp server & browser-sync start --proxy 'localhost:9000' --files '**/*.html, **/*.jade, **/*.md, **/*.scss', **.*.svg, **.*.jpg, **.*.png, **.*.gif, **.*.md, **.*.css
                        p 
                            em oder
                        pre python -m SimpleHTTPServer 8000
                    li Responsive Typografie
                        img(src="https://raw.githubusercontent.com/seaneking/postcss-responsive-type/master/demo.gif?raw=true")
                        img(src="https://media-mediatemple.netdna-ssl.com/wp-content/uploads/2016/05/different-scales-800-opt.png")
                    li einfaches Grid


            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br


            h1 Responsive Typografie

            img(src="https://ia.net/content/4-know-how/20120601-responsive-typography-the-basics/responsive-typography-perspective.png")

            pre
                | body {
                |     background-color: #ff5442;
                |     font-family:      Arial, sans-serif; 
                |     margin:           2vw;
                | }
                | h1 {
                |     color:            #fff;
                |     font-size:        6vw;
                |     font-weight:      900;
                |     text-transform:   uppercase;
                |     line-height:      .3vw;
                | }
                | h2 {
                |     color:            #fff;
                |     font-size:        4vw;
                | }
                | p {
                |     color:            #fff;
                |     font-size:        1em;
                | }

            h3 Links
            ul
                li 
                    a(href="http://webtypography.net/") The Elements of Typographic Style Applied to the Web
                li
                    a(href="https://ia.net/de/know-how/responsive-typography-the-basics") RESPONSIVE TYPOGRAPHY: THE BASICS

        br
        br
        br


        h1 Grid
